*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: Roboto,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* ******** custom coding of css starts from here ********  */
/* 
body{

    width: 100vw;
    height: 100vh;
    position: relative;
} */


/* code of header main section starts from here  */

header{
    height: 93vh;
    background: #0A0C1B;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* code of header main section ends from here  */

.Header-ontainer{
    width: 80vw;
    height: 70vh;
    background: #1C1938;
    display: flex;
    border-radius: 10px;
}



.Header-ontainer .Left_section{
    width: 50%;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Header-ontainer .Left_section h1 span{
    /* font-size: 3vw; */
    color: #A45ED5;
    font-size: 40px;
    font-family: serif;
    font-weight: 1000;
}

.Header-ontainer .Left_section p{
    color: #4B4962;
    font-size: 18px;
    font-weight: bolder;
}

.Header-ontainer .Left_section .Companies-data{
    width: 95%;
    justify-content: space-between;
    display: flex;
    /* align-items: flex-start ; */
    /* background-color: blue; */
    text-align: start;
    /* text-align: center; */
    /* line-height: 20px; */
}

.Header-ontainer .Left_section .Companies-data p{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 0;
    margin-top: 10px;
}

.Header-ontainer .Right_section{
    width: 50%;
    background: linear-gradient(0deg , rgba(127, 67, 163,0.3),rgba(127, 67, 163,0.3)),url(./../images/image-header-desktop.jpg) no-repeat center/cover;
    border-radius: 10px;
}






/* inbuilt code by front end mentor */
.attribution { 
    width: 100%;
    height: 44px;
    font-size: 11px; 
    text-align: center;
    background-color: rgb(54, 49, 49);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* word-spacing: .2vw; */
}

.attribution a { 
    color: hsl(228, 73%, 83%); }  


/* code to make website responsive in mobile  */

@media(max-width:774px){
    header{
        height: auto;
    }

    .Header-ontainer{
        /* display: inline-block; */
        /* flex-direction: column; */
        flex-direction: column-reverse;
        width: 80%;
        height: auto;
        margin: 50px auto;
        /* padding: 0; */
    }

    .Header-ontainer .Right_section{
        /* display: none; */
        background: linear-gradient(0deg , rgba(127, 67, 163,0.3),rgba(127, 67, 163,0.3)),url(./../images/image-header-mobile.jpg) center/cover no-repeat;
        width: 100%;
        height: 400px;
        border-radius: 10px;
    }



    .Header-ontainer .Left_section{
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }



    .Header-ontainer .Left_section h1:nth-child(1){
        /* color: red; */
        margin-bottom: 20px;
    }

    .Header-ontainer .Left_section .Header_paragraph_content{
        /* color: red; */
        margin-bottom: 30px;
    }

    .Header-ontainer .Left_section .Companies-data{
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;
    }
    
    .Header-ontainer .Left_section .Companies-data .Data{
        color: red;
        margin-bottom: 30px;
        margin-top: 20px;
        text-align: center;
    }

    .Header-ontainer .Left_section .Companies-data .Data h1{
        margin-bottom: 0;
    }

    /* .attribution{
        position: static;
        /* bottom: 0; */
    } */

}