:root {
    --blue: #2BB3B1;
    --white: #ffffff;
    --yellow: #BFDF32;
    --light-blue: #4ABEBD;
    --para: #C6CCD5;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* color: whitesmoke; */
    font-family: Roboto,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* ******** custom coding of css starts from here ********  */

body{
    background-color: #F0F0F0;
    position: relative;
}


.container{
    width: 620px;
    /* margin: auto; */
    background-color: var(--white);
    margin: 5rem auto 2rem auto;
}

.container .up-container{
    padding: 20px 40px;
}

.container .up-container h1{
    color: var(--blue);
    margin: 2rem 0 1rem 0;
}

.container .up-container h3{
    color: var(--yellow);
    margin: .8rem 0;
}

.container .up-container p{
    color: var(--light-blue);
    font-weight: bolder;
    /* margin-bottom: 1rem; */
}

.container .down-container{
    width: 100%;
    height: 260px;
    display: flex;
}

.container .down-container .left{
    width: 50%;
    background: var(--blue);
    color: var(--white);
    padding: 20px 40px;
    
}

.container .down-container .left h2{
    margin-bottom: 1rem;
}

.container .down-container .left h5{
    margin-bottom: 8px;

}

.container .down-container .left span{
    font-size: 40px;
}

.container .down-container .left p{
    margin-bottom: 27px;
}

.container .down-container .left a{
    display: block;
    text-align: center;
    background-color: var(--yellow);
    color: var(--white);
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
}

.container .down-container .right{
    width: 50%;
    background: var(--light-blue);
    color: var(--white);
    padding: 20px 40px;
}

.container .down-container .right h2{
    margin-bottom: 1rem;

}

.container .down-container .right p{
    margin-bottom: 3px;
}

@media(max-width : 640px){
    .container{
        width: 310px;
    }

    .container .down-container{
        flex-direction: column;
        height: 520px;
    }
    
    .container .down-container .left{
        width: 100%;
        
    }

    .container .down-container .right{
        width: 100%;
    }

   
}












/* inbuilt code by front end mentor */
.attribution { 
    width: 100%;
    height: 44px;
    font-size: 11px; 
    text-align: center;
    background-color: rgb(54, 49, 49);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* word-spacing: .2vw; */
}

.attribution a { 
    color: hsl(228, 73%, 83%); }  
